<div class="flex flex-col h-screen w-full bg-orange-50">
    <div class="flex w-full h-28 bg-neutral-100 justify-evenly">
      <div class="flex p-5 font-bold self-center italic justify-center text-5xl text-yellow-600">
          Scholarships - Admin
      </div>
      <button class="flex h-14 w-48 self-center bold font-proza justify-center p-5 bg-slate-400"
          (click)="show(1)">
        Add Scholarship
      </button>
    </div>
    <app-scholarship-card [scolarships]="scholarship" [apply]="apply"></app-scholarship-card>
</div>
<div class="uc-modal" *ngIf="showModal === 1">
  <div class="uc-m-content">
      <div class="uc-m-header">
          <h4>ADD SCHOLARSHIP</h4>
      </div>
      <div class="uc-m-body">
          <div class="flex text-xl bold font-proza ">
            NAME
          </div>
          <input type="text" id="name" name="name" #scholarshipname class="flex h-8 text-lg rounded-sm w-96">
          <div class="flex text-xl bold font-proza pt-5">
            DESCRIPTION
          </div>
          <textarea type="text" id="description" name="description" #description class="flex text-sm rounded-sm h-28 w-96">
          </textarea>
          <div class="flex text-xl bold font-proza pt-5">
            ELIGIBILITY
          </div>
          <textarea type="text" id="eligibility" name="eligibility" #eligibility class="flex text-sm rounded-sm h-28 w-96">
          </textarea>
      </div>
      <div class="uc-m-footer flex flex-row  justify-end">
          <button (click)="addscholarship(scholarshipname.value,description.value,eligibility.value)">Add
          </button>
          <div class="loader flex ml-1" *ngIf="showloading"></div>
          <button (click)="close()">Cancel</button>
      </div>
  </div>
</div>
