<div class="flex flex-col h-screen w-full bg-orange-50">
    <div class="flex w-full h-28 bg-neutral-100 justify-between">
      <div class="flex p-5 pl-12 font-bold italic justify-center text-5xl text-yellow-600">
          Scholar
      </div>
      <div class="flex p-5 pr-12 justify-center">
        <button class="flex p-5 font-light justify-center text-2xl" routerLink="/scholarships">
          View all scholarships
        </button>
        <button class="flex p-5 font-light justify-center text-2xl" routerLink="/admin">
          Login
        </button>
    </div>
    </div>
    <div class="w-full h-screen pt-12">
      <app-carousel [images]= "images" 
        [autoSlide]="true">
      </app-carousel>
    </div>
</div>
